
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');

body{

    
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
   
}

:root{
    --primary-color:#B45309;
    --dark-gray:#111827;
    

}


.hero{

    padding: 1rem;
    padding-top: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}


.hero .hero-heading{
    text-align: center;
    padding-top: 0.5rem;
    color: var(--dark-gray);

}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width:600px;
    margin:auto;
}

.section{
    padding: 1rem;
}

#txt-input{
    
        width: 80%;
        height: 15vh;
        display: block;
        /* margin: 1rem; */
        padding: 1rem;
        font-family: 'Courgette', cursive;
        margin-top: 3rem;
}

#btn-translate{
    background-color:var(--primary-color);
    color:black;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-family: 'Courgette', cursive;
}

#output{
    border: 1px solid black;
    width:80%;
    display:block;
    height: 15vh;
    /* margin: 1rem; */
    padding: 1rem;
    margin-bottom: 3rem;
    

}


.footer{
    background-color:var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color:var(--dark-gray);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    

}

.footer .footer-header{

    font-weight: bold;
    font-size: large;
    color: var(--dark-gray);
    font-family: 'Courgette', cursive;

}


.hero .hero-img{
    max-width: 400px;
    display: block;
    margin:auto;
}
  

